<div class="box box-warning">
    <div class="box-header with-border">
        <span class="box-title">{{=_('Categories')}}</span>
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button class="btn btn-box-tool" data-toggle="tooltip"
                    data-original-title="{{=_('Add')}}" id="btnAddCategory">
                <i class="fa fa-plus"></i>
            </button>
        </div><!-- /. tools -->
    </div>
    <div class="box-body" ms-controller="menus_category">
        <ul class="nav nav-pills nav-stacked" id="menu-category-list">
            <li ms-repeat="categories">
                <a href="#"><i class="fa fa-reorder"></i>{%el.title%}({%el.key%})</a>
            </li>
        </ul>
    </div>
</div>
<script>
    var menus_category = avalon.define({
        $id:'menus_category',
        categories: {{<< json_dumps(categories)}}
    });
    popup_url('#btnAddCategory', '{{=url_for('add_category')}}',
        '{{=_('Add Category')}}', function(data){
            console.log(data);
        });
</script>
