
.form-box .header {
    background-color: #3c8dbc;    
    background:url(../img/admin-logo2.png) #3c8dbc 5px 20px no-repeat;
    font-size:0px;
    min-height: 90px
}

#admin-logo {
    background:url(../img/admin-logo-small2.png) 10px 4px no-repeat;font-size:0;
    background-color: #367fa9;
}

#admin-models .space{padding-bottom: 10px}
#admin-models .mmGrid .mmg-headWrapper {border-top: 2px solid #f39c12;}

.space {margin-top:5px; margin-bottom:5px;}
.space-top {margin-top:5px;}
.space-bottom {margin-bottom:5px;}
.space-left {margin-left:5px;}
.space-right {margin-right:5px;}
.space-lg {margin-top:10px; margin-bottom:10px;}
.space-top-lg {margin-top:10px;}
.space-bottom-lg {margin-bottom:10px;}
.space-left-lg {margin-left:10px;}
.space-right-lg {margin-right:10px;}
.narrow {padding-top:5px;padding-bottom:5px;}
