<!-- param: model_name, uuid, uuids, columns, object, published_uuid -->

{{extend "AdminModelsConfigView/index.html"}}

{{block sub_breadcrumb}}
<li><a href="/admin/models_config/view/{{=model_name}}">[{{=model_name}}]</a></li>
{{end}}

{{block sub_content}}
{{use "avalon"}}
{{link "<script>avalon.config({loader:false});</script>"}}
{{link "js/peafowl.js"}}

<style>
#right_pane .list-group-item a:hover{text-decoration:underline;}
#right_pane .list-group-item.active a{color:white;}
#right_pane .panel-heading h3{cursor:pointer;}
</style>
<div id="right_pane" class="row">
    <div class="col-sm-9">
        <div class="space"></div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title cursor-pointer" data-toggle="collapse" data-target="#basic_info">{{=_('Basic Information')}}
                </span>
                <button class="btn btn-success btn-xs pull-right" id="btnEdit">
                    <i class="fa fa-edit"></i> {{=_('Edit')}}
                </button>
            </div>
            <div class="panel-body collapse in" id="basic_info">
                {{<< view}}
            </div>
        </div>

        {{include "AdminModelsConfigView/inc_view_columns.html"}}
        {{include "AdminModelsConfigView/inc_view_indexes.html"}}

    </div>
    <div class="col-sm-3" ms-controller="publish">
        <button class="btn btn-danger btn-block space" ms-if="uuid==published_uuid" ms-click="unpublish">{{=_('Unpublish')}}</button>
        <button class="btn btn-success btn-block space" ms-if="uuid!=published_uuid && uuids.length>1" ms-click="publish">{{=_('Publish')}}</button>
        <div class="list-group space">
            <span class="list-group-item"><b>{{=_('Versions')}}:</b></span>
            <div class="list-group-item narrow"
               ms-repeat-u="uuids"
               ms-class="active:u==uuid"
               ms-mouseenter="show(u, true)"
               ms-mouseleave="show(u, false)"
               >
                <a ms-href="/admin/models_config/view/{{=model_name}}?uuid={%u%}">
                {%u%}
                </a>
                <a href="javascript:void(0)" ms-click="delete_item(u)"><i class="fa fa-remove" style="display:none"></i></a>
                <span class="label label-success pull-right" ms-if="u==published_uuid">{{=_('Published')}}</span>
            </div>
        </div>
    </div>
</div>

<script>
    var publish = avalon.define({
        $id:'publish'
        , uuid: {{=json_dumps(uuid)}}
        , uuids: {{=json_dumps(uuids)}}
        , published_uuid: {{=json_dumps(published_uuid)}}
        , publish: function(){
            $.post('{{=ADMIN_URL}}/models_config/publish/{{=model_name}}?uuid={{=uuid}}')
                .success(function(r){
                    if(r.success){
                        publish.published_uuid = publish.uuid;
                        show_message(r.message);
                    }
                    else
                        show_message(r.message, 'error');

                })
                .fail(function(r){
                    show_message('There are some errors!', 'error');
                });
        }
        , unpublish: function(){
            $.post('{{=ADMIN_URL}}/models_config/unpublish/{{=model_name}}')
                .success(function(r){
                    if (r.success){
                        publish.published_uuid = '';
                    }
                });
        }
        , show: function(el, flag){
            var icon = $(this).find('.fa-remove');
            if (flag && el!=publish.published_uuid)
                icon.show();
            else
                icon.hide();
        }
        , delete_item: function(el){
            if (confirm("{{=_('Do you want to delete this version?')}}")){
                $.post('{{=ADMIN_URL}}/models_config/delete_version/{{=model_name}}?uuid=' + el)
                    .success(function(r){
                        if(r.success){
                            var index = publish.uuids.indexOf(el);
                            publish.uuids.remove(el);
                            //if current uuid is deleted
                            if (uuid==el){
                                if(index == publish.uuids.length)
                                    index = publish.uuids.length - 1;
                                uuid = publish.uuids[index];
                                if(uuid)
                                    window.location.href = '{{=ADMIN_URL}}/models_config/view/{{=model_name}}?uuid='+uuid;
                            }

                            show_message('Success!');
                        }else
                            show_message(r.message, 'error');
                    })
                    .fail(function(r){
                        show_message('There are some errors!', 'error');
                    })
            }
        }
    });
</script>
{{end}}