{{extend "admin_layout.html"}}


{{block sidemenu}}
    {{<< functions.menu('ADMIN', 'library_demo/bs3form/%s' % menu_id)}}
{{end}}

{{block sidebar_page_title}}
    {{=_('Bootstrap3 Form')}}
{{end}}

{{block sidebar_page_subtitle}}
{{end}}

{{block custom_css}}
{{end}}

{{block sidebar_breadcrumb}}
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i>{{=_('Home')}}</a></li>
    <li><a href="{{=ADMIN_URL}}">{{=_('Admin')}}</a></li>
    <li class="active">{{=_('Bootstrap3 Form')}}</li>
</ol>
{{end}}

{{block main_content}}
<p class="callout callout-info">{{=desc}}</p>
{{if success == 'success':}}
<p class="alert alert-success">Success</p>
{{elif success == 'error':}}
<p class="alert alert-danger">Error</p>
{{pass}}

<!-- form -->
<div class="box box-primary">
    <!-- <div class="box-header with-border">
        <div class="box-tools pull-right">
        </div>
    </div> -->
    <div class="box-body" id="form">

    </div>
</div>
<script>
    $(function(){
        $('#form').formb(
{
            'attrs': {'id':'test_form', 'method':'GET'},
            'fields':[
                {'name':'username', 'type':'str', 'label':'用户名',
                    'placeholder':'用户名', 'help_string':'请输入用户名，长度不少于6个字符'},
                {'name':'password', 'type':'password', 'label':'密码', 'placeholder':'密码'},
                {'name':'remember_me', 'type':'bool', 'label':'记住我'},
                {'name':'hidden', 'type':'hidden'},
                {'name':'file', 'type':'file', 'label':'文件'},
                {'name':'text', 'type':'text', 'label':'内容'},
                {'name':'select', 'type':'select', 'label':'多选',
                    'choices':[('0', '中文'), ('1', '英文')], 'multiple':true},
                {'name':'static', 'type':'str', 'label':'静态字段', 'static':true},
                {'name':'date', 'type':'date', 'label':'日期'},
                {'name':'datetime', 'type':'datetime', 'label':'日期时间'},
                {'name':'radios1', 'type':'radios', 'label':'单选',
                    'choices':[('0', '中文'), ('1', '英文')]},
                {'name':'radios2', 'type':'radios', 'label':'行内单选',
                    'choices':[('0', '中文'), ('1', '英文')], 'inline':true},

                {'name':'checkboxes1', 'type':'checkboxes', 'label':'多选',
                    'choices':[('0', '中文'), ('1', '英文')]},
                {'name':'checkboxes2', 'type':'checkboxes', 'label':'行内多选',
                    'choices':[('0', '中文'), ('1', '英文')], 'inline':true},
            ],
            'layout_type':'bs3t',
            'layout':{
                'label_width':3,
                'button_offset': '155px',
                'fields':[
                    {'name':'remember_me', 'inline':true, 'hide_label':true}
                ],
                'rows':[
                    '-- Basic --',
                    ['username', 'password'],
                    ['remember_me', 'file'],
                    '-- Extend --',
                    'text',
                    ['select', 'static'],
                    ['date', 'datetime'],
                    ['radios1', 'radios2'],
                    ['checkboxes1', 'checkboxes2']
                ],
                'buttons':[
                    {
                        'id':'btnSubmit',
                        'type':'submit',
                        'class':'btn btn-primary btn-sm',
                        'text':'提交'
                    },
                    ' <a href="#">忘记密码</a>'
                ]
            },
            'rules':{
                'username':{
                    'required':true,
                    'minlength':6,
                },
                'password':{
                    'required':true,
                }
            },
            'data': {
                'password': 'password',
                'remember_me': true,
                'hidden': 'hidden',
                'file': 'file.csv',
                'text': '<h1>This is Header</h1><p>Content</p>',
                'select': ['0', '1'],
                'static': '这是静态字段',
                'radios1': '0',
                'radios2': '1',
                'checkboxes1': ['0', '1'],
                'checkboxes2': ['0', '1'],
                'date': '2015-04-15',
                'datetime': '2015-04-15 12:12:12'
            }
        }
        );
    });
</script>
<!-- end form -->

{{end}}