{{extend "admin_layout.html"}}


{{block sidemenu}}
    {{<< functions.menu('ADMIN', 'library_demo/webuploader')}}
{{end}}

{{block sidebar_page_title}}
    {{=_('Web Uploader')}}
{{end}}

{{block sidebar_page_subtitle}}
{{end}}

{{block custom_css}}
{{end}}

{{block sidebar_breadcrumb}}
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i>{{=_('Home')}}</a></li>
    <li><a href="{{=ADMIN_URL}}">{{=_('Admin')}}</a></li>
    <li class="active">{{=_('Web Uploader')}}</li>
</ol>
{{end}}

{{block main_content}}
<p class="callout callout-info">
    Webuploader, address: <a href="http://fex.baidu.com/webuploader/"><i class="fa fa-external-link"></i> http://fex.baidu.com/webuploader/</a>
</p>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">webuploader使用注意</h3>
    </div>
    <div class="box-body">
        <p>使用<pre>
    require(['webuploader'], function(WebUploader){
    });</pre>来引入webuploader
        </p>

        <p>重要参数：</p>
        <table class="table table-bordered">
            <tr>
                <th>参数名</th>
                <th>说明</th>
            </tr>
            <tr>
                <td>pick</td>
                <td>使用 object 写法，其中将style设为 '', 可以直接使用id对应的元素。如：<pre>
    {id:'#picker', style:''}</pre></td>
            </tr>
            <tr>
                <td>auto</td>
                <td>设置为true时自动上传。如果为false时，需要手工触发，首先在页面上设置一个按钮，然后执行<pre>
    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
        }
    });</pre></td>
            </tr>
            <tr>
                <td>fileVal</td>
                <td>用来设置上传时的文件名变量名，缺省为file</td>
            </tr>
            <tr>
                <td>formData</td>
                <td>用来上传额外的form参数</td>
            </tr>
            <tr>
                <td>uploadAccept</td>
                <td>在处理uploadAccept事件时，第三个参数是一个回调，可以用来处理当出错时设置出错信息，同时返回false</td>
            </tr>
        </table>
    </div>
</div>

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <button id="picker" class="btn btn-primary btn-xs btn-flat">选择文件</button>
        <!-- <button id="ctlBtn" class="btn btn-default">开始上传</button> -->
    </div>
</div>

<script>
    require(['webuploader'], function(WebUploader){
        var $list = $('#thelist');
        var $btn = $('#ctlBtn');
        var state = 'pending';
        var uploader = WebUploader.create({

            // swf文件路径
            swf: '/static/plugins/vendor/_webuploaderUploader.swf',

            // 文件接收服务端。
            server: '/library_demo/fileupload',

            // paste
            paste: document.body,
            disableGlobalDnd: true,
            dnd: 'body',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {id:'#picker',style:''},

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,

            // 上传对应的文件控件的名字
            fileVal: 'filename',

            // 附带的表单信息
            formData: {test:'ok'},

            auto: true
        });
        // 当有文件被添加进队列的时候
        uploader.on( 'fileQueued', function( file ) {
            $list.append( '<div id="' + file.id + '" class="item" style="display:table-row">' +
                '<span class="info" style="display:table-cell;display:inline-block;margin-right:15px;">' + file.name + '</span>' +
                '<span class="state" style="display:table-cell;display:inline-block;margin-right:15px;">等待上传...</span>' +
            '</div>' );
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active" style="display:table-cell;width:200px">' +
                  '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                  '</div>' +
                '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('.state').text('上传中');

            $percent.css( 'width', percentage * 100 + '%' );
        });
        uploader.on( 'uploadSuccess', function( file, data ) {
            // 显示已上传
            //$( '#'+file.id ).find('.state').text('已上传');
            // 显示删除标志
            $( '#'+file.id ).find('.state').html('<a href="/library_demo/filedelete/' + data.filename + '" class="deleteFile">删除</a>');
        });

        uploader.on( 'uploadError', function( file, reason ) {
            $( '#'+file.id ).find('.state').text('上传出错:'+reason);
        });

        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').fadeOut();
        });

        uploader.on('uploadAccept', function(obj, ret, f){
            //f('出错信息测试');
            //return false;
            //console.log('uploadAccept', ret);
        });

        $btn.on('click', function () {
            if (state === 'uploading') {
                uploader.stop();
            } else {
                uploader.upload();
            }
        });

        $('body').on('click', '.deleteFile', function(e){
            e.preventDefault();
            var that = $(this);
            var href = that.attr('href');
            $.post(href).success(function(r){
                if(r.success){
                    var p = $(that.parents('div.item')[0]);
                    p.remove();
                }
            });
        });

    });
</script>
{{end}}
