
<div class="row">
{{ for panes in digital: }}
<div class="col-xs-{{=panes.get('colspan')}}">
    {{ for pane in panes.get('panels'): }}
    <div class="small-box bg-{{=pane.color}}">
        <div class="inner">
            <h3>
                {{=pane.num}}
                <sup style="font-size: 20px">{{=pane.unit}}</sup>
            </h3>
            <p>{{=pane.description}}</p>
        </div>
        <div class="icon">
            <i class="fa {{=pane.icon}}"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    {{ pass }}
</div>    
{{pass}}
</div>

<div class="row">
    {{for panes in content:}}
        <section class="col-lg-{{=panes.get('colspan')}} layout-column ui-sortable">
            {{ for pane in panes.get('panels'): }}
                <div class="box box-success portlet">
                    <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <i class="fa fa-list"></i>
                        <h3 class="box-title">{{=pane.title}}</h3>
                    </div>
                    <div class="box-body" style="overflow: hidden; width: auto; height: {{=pane.height}}px;">
                    {{if pane.content_type == '0':}}
                    <iframe src="{{=pane.URI}}" style="width:100%;height:100%;border:1px solid #ccc"></iframe>
                    {{pass}}

                    </div>
                </div>
            {{ pass }}
        </section>
    {{pass}}
</div>

<script type="text/javascript">
    $(function(){

        require(["app/dashboard"], function(){
            $(".layout-column").sortable({
                placeholder: "sort-highlight",
                connectWith: ".layout-column",
                handle: ".box-header, .nav-tabs",
                forcePlaceholderSize: true,
                zIndex: 999999,

                update: function(event, ui) {
                    return true
                }
            }).disableSelection();        
        });
    });
</script>
