{{extend "AdminModelsView/index.html"}}

{{block sidebar_page_title}}
    {{=_('Edit')}}
{{end}}

{{block sidebar_page_subtitle}}
    {{=_('Edit The Record')}}
{{end}}

{{block custom_css}}
{{end}}

{{block sidebar_breadcrumb}}
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i>{{=_('Home')}}</a></li>
    <li><a href="/admin">{{=_('Admin')}}</a></li>
    <li><a href="/admin/models">{{=_('Models')}}</a></li>
    <li><a href="/admin/models/{{=model}}">{{=model}}</a></li>
    <li class="active">{{=_("Edit")}}</li>
</ol>
{{end}}

{{block main_content}}
<div id="admin-models" class="row">
    <div class="col-xs-10">
        <div>
            {{<< form}}
        </div>
    </div>
</div>


{{end}}