{{extend "theme/basic.html"}}


{{block content}}    
<div class="row content">
    <div class="col-xs-12">
    <h3> This is a IFrame Test Page </h3>

    <p>
    合肥日报讯 市轨道交通公司近日公布轨道交通3号线工程总体方案，并面向社会征求意见。即日起至下周五，市民如果对轨道交通3号线相关情况有建议或意见，可以在工作日向有关部门反映。
    </p>
    <p>公布车站位置</p>

    <p>本次方案中公示了其余30座车站及一段一场的具体位置（车站名称为暂用名）。</p>

    <p>方兴大道站、紫云路站、锦绣大道站、丹霞路站、繁华大道站、芙蓉路站、习友路站和祁门路站等8座车站设置在翡翠路一线。其中，方兴大道站位于方兴大道与翡翠路交叉口北侧，紫云路站位于翡翠路与紫云路交叉口，锦绣大道站位于翡翠路与锦绣大道“丁”字路口，丹霞路站位于翡翠路与丹霞路交叉口，芙蓉路站位于翡翠路与芙蓉路交叉口北侧，习友路站位于翡翠路与习友路交叉口，均沿翡翠路南北向布置；繁华大道站位于翡翠路与繁华大道交叉口，为3号线与7号线换乘站，3号线沿翡翠路南北向布置，7号线沿繁华大道东西向布置。祁门路站位于祁门路与翡翠路交叉口，为3号线与4号线换乘站，3号线沿翡翠路南北向布置，4号线沿祁门路东西向布置。</p>

    <p>大剧院站位于怀宁路与天鹅湖路交叉口东侧，沿天鹅湖路东西向布置。</p>

    <p>高河东路站、黄山路站、史河路站、清溪路站等4座车站设置在潜山路一线。其中，高河东路站位于潜山路与高河东路交叉口，黄山路站位于潜山路与黄山路交叉口，史河路站位于潜山路与史河路交叉口，清溪路站位于潜山北路与清溪路交口西南侧，均沿潜山路南北向布置。</p>

    <p>四里河路站、临泉西路站、界首路站、蒙城路站、阜阳路站和淮南路站等6座车站设置在临泉路一线。其中，四里河路站位于四里河路与临泉路交叉口，临泉西路站位于桃花路与临泉路交叉路口，界首路站位于临泉路与界首路交口，阜阳路站位于临泉路与阜阳路交叉口，淮南路站位于临泉路与淮南路交叉口西北侧，均沿临泉路东西向布置；蒙城路站位于临泉路与蒙城路交叉口，为3号线与5号线换乘站，3号线沿临泉路东西向布置，5号线沿蒙城路南北向布置。</p>

    <p>新蚌埠路站位于新蚌埠路与站前路交叉口，沿站前路东西向布置。  </p>  
    </div>
</div>

{{end content}}
